<div class="card" header="Add new role :" [style]="{ width: '1143px' }">
  <h4>Add new role</h4>
  <hr>
  <form [formGroup]="roleForm" (ngSubmit)="onSubmit()" #f ="ngForm" style ="margin-left: 50px " >
   <div class="row">
    <div class="field col-12 md:col-4">
      <span class="p-float-label">
        <input type="text"  style="width: 400px;" id="roleName"
         pInputText formControlName="roleName">
        <label for="roleName">Role type :</label>
      </span>
      <div class="alert alert-danger mt-2"
      style="width: 400px;" *ngIf=" roleForm.get('roleName')?.invalid
       && (roleForm.get('roleName')?.dirty || roleForm.get('roleName')?.touched
       || f.submitted )">
        <div> Type is required</div>
      </div>
    </div>

    <div class="field col-12 md:col-4" style="margin-left: 150px;">
      <span class="p-float-label">
        <!-- <textarea id="roleDescription"  style="width: 400px;"
          formControlName="roleDescription" rows="3" cols="30" pInputTextarea></textarea> -->
  <input type="text" id="roleDescription"  style="width: 400px;"
  id="roleName" pInputText formControlName="roleDescription">
  <label for="roleName">Role description :</label>
</span>
<div class="alert alert-danger mt-2"
style="width: 400px;" *ngIf=" roleForm.get('roleDescription')?.invalid
 && (roleForm.get('roleDescription')?.dirty || roleForm.get('roleDescription')?.touched
 || f.submitted )">
  <div> Description is required</div>
</div>
    </div>
  </div>
    <p-toast></p-toast>
    <button style="margin-left: 920px;" class="text-right" type="submit"
     pButton pRipple  label="Create role"
      class="p-button-danger"></button>
  </form>
</div>


<div class="card">
  <p-table [value]="role" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Role type</th>
              <th> Role description</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role>
          <tr>
              <td>{{ role.roleName }}</td>
              <td>{{ role.roleDescription }}</td>
          </tr>
      </ng-template>
  </p-table>
</div>

