<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button>
        </div>
    </ng-template>
    <!-- 
    <ng-template pTemplate="right">
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template> -->
</p-toolbar>

<form #projectForm="ngForm">
    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Project details" [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">
            <!-- <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image"> -->
            <div class="field">
                <label for="name">Project name :</label>
                <input type="text" pInputText id="name" [(ngModel)]="project.projectName" name="projectName"
                    name="projectName" />
                <small class="ng-dirty ng-invalid">Name is required.</small>
            </div>
            <div class="field">
                <label for="description">Project description :</label>
                <textarea id="description" pInputTextarea required rows="3" cols="20"
                    [(ngModel)]="project.projectDescription" name="projectDescription"
                    name="projectDescription"></textarea>
            </div>
            <div class="field">
                <label for="name">Sponsor :</label>
                <input type="text" pInputText id="sponsor" [(ngModel)]="project.sponsor" name="sponsor" />
                <small class="ng-dirty ng-invalid">Sponsor is required.</small>
            </div>
            <div class="field">
                <label for="name">Domain :</label>
                <input type="text" pInputText id="domain" [(ngModel)]="project.domain" name="domain" />
                <small class="ng-dirty ng-invalid">Domain is required.</small>
            </div>
            <div class="field">
                <label for="name">Nature :</label>
                <input type="text" pInputText id="nature" [(ngModel)]="project.nature" name="nature" />
                <small class="ng-dirty ng-invalid">Nature is required.</small>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-calendar inputId="dated" [(ngModel)]="project.startDate" name="startDate"></p-calendar>
                    <label for="calendar">Date debut:</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-calendar inputId="datef" [(ngModel)]="project.endDate" name="endDate"></p-calendar>
                    <label for="calendar">Date fin:</label>
                </span>
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="addProject(projectForm)" (click)="showSuccessViaMessages()"></button>
        </ng-template>
        <div class="flex flex-wrap gap-2">
            <p-messages [value]="msgs" *ngIf="successMessage"></p-messages>
        </div>
    </p-dialog>




   
      
    
</form>